<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Todo Index {% endblock %}</title>
    <link  rel="stylesheet" href="{% static 'main/assets/css/bootstrap.min.css' %}">
    <script src="{% static 'main/assets/js/bootstrap.min.js' %}"></script>
</head>
<body >

<div >
{% include 'main/header.html' %}
<!--<div style="background-image: url('{% static 'main/images/book.jpg' %}'); background-color: rgba(255, 255, 255, 0.486); background-blend-mode: overlay; ">-->
{% block content %}

{% endblock  %}
    </div>
    </div>

{% include 'main/footer.html' %}

</body>
</html>