
<div class=" bg-dark">
  <footer class="pt-1">
    <ul class="nav justify-content-center border-bottom py-2 mb-3">
      <li class="nav-item"><a  href="{% url 'todo:index' %}" class="nav-link px-2 text-light">Home</a></li>
      <li class="nav-item"><a href="{% url 'todo:todo-list' %}" class="nav-link px-2 text-light">Tasks</a></li>
      <li class="nav-item"><a href="{% url 'movie:movie-index' %}" class="nav-link px-2 text-light">Movies</a></li>
      <li class="nav-item"><a href="{% url 'todo:index' %}" class="nav-link px-2 text-light">About</a></li>
    </ul>
    <div class=" bg-dark p-1">
    <p class="text-center text-info p-1 ">&copy; 2021 Khalil, Inc</p>
    </div>
  </footer>
</div>
