
{% extends 'main/base_layout.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="container">
        <div class="row m-auto ">
        <div class="m-auto col-6 py-5">
            <form method="post" action="{% url 'signup' %}" >
                         {% csrf_token %}
                {% for field in form %}
                {{ field.label_tag }}
                    {% render_field field class="form-control mb-3" %}
                {% endfor %}
            <button class="btn btn-info mt-4" type="submit">Register </button>
            </form>

        </div>
        </div>
    </div>
{% endblock %}
